.mask{
    background-image: linear-gradient(to right, black, white);
}

.section-container{
    font-family: 'Times New Roman', Times, serif;
}

.card .card-body{
    padding: 4rem;
}

h2{
    padding-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

a{
    color: black
}

a:hover{
    text-decoration: none;
    color: gray;
}

.progress .progress-bar {
    background-color: gray;
}

.skills .sub-skills .row{
    padding-bottom: 10px;
}

.skills .sub-skills .skilltitle{
    font-family: 'Times New Roman', Times, serif;
}
